<div class="container">
  <form [formGroup]="boardform">
    <mat-toolbar class="cardMenu">
      <mat-toolbar-row>
        <mat-form-field class="boardTitle">
          <input matInput formControlName="boardName">
        </mat-form-field>
        <button mat-raised-button class="addCardButton" (click)="addCard()">+Card</button>
        <button mat-raised-button class="boardDeleteButton" (click)="delete(id)">Delete Board</button>
        <button (click)="onclick()">click</button>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      
        <div *ngFor="let item of cardsarr"> 
            <mat-card>  
                <mat-card-title>
                <input matInput formControlName="cardTitle" value= {{item.cardTitle}}> 
           
            </mat-card-title>
             <div *ngFor="let c of item.cardList" >
               <input matInput value="{{c}}">
              
            </div> 
          </mat-card>    
      </div>
      
    </div>
  </form>
</div>