.container{
   background-color: white;
    height: 100%;
    width: 100%;
}
.addNewBoard{
    margin-top: 3%;
    margin-left: 2%;
    background-color:  rgb(84, 69, 180);
    color: white;
}
.boardTitle{
    float: left;
    margin-left: 2%;
    color: slateblue;
}
.boardDeleteButton{
    margin-left:1%; 
    margin-top: 1%;
    color: white;
    background-color:rgb(84, 69, 180);
}
.addCardButton{
    margin-left: 68%;
    margin-right: 0; 
margin-top: 1%;
color: white;
background-color:rgb(84, 69, 180);
}
.content{
    margin-top: 1%;
    height: 100%;
    width: 100%;
}
.cardDesign{
    width:25%;
    margin-left: 1;
    height: 100%;
    
}