.container{
   background-color:  rgb(84, 69, 180);
    height: 100%;
    width: 100%;
}
.addNewBoard{
    margin-top: 3%;
    margin-left: 2%;
    background-color:  rgb(84, 69, 180);
    color: white;
}
